<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment">

        <!-- LAUNCHER -->
        <activity
            android:name=".LoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Các activity nội bộ -->
        <activity android:name=".LoginActivity"            android:exported="false"/>
        <activity android:name=".UpdateAnhTheActivity"     android:exported="false"/>
        <activity android:name=".ThemNhanVienActivity"     android:exported="false"/>
        <activity android:name=".ThongKeBaoCaoActivity"    android:exported="false"/>
        <activity android:name=".donxinphep"               android:exported="false"/>
        <activity android:name=".TinhTrangDonPhep"         android:exported="false"/>
        
        <!-- Attendance Summary Activity with parent specified -->
        <activity 
            android:name=".tom_tat__diem_danh"       
            android:exported="false"
            android:parentActivityName=".DiemDanhActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DiemDanhActivity" />
        </activity>
        
        <activity android:name=".MainActivity"             android:exported="false"/>
        <activity android:name=".DanhBaNhanSuActivity"     android:exported="false"/>
        <activity android:name=".ThongTinNhanVienActivity" android:exported="false"/>
        <activity android:name=".ManagerHomeActivity"      android:exported="false"/>
        <activity android:name=".HrHomeActivity"           android:exported="false"/>
        <activity android:name=".DiemDanhActivity"         android:exported="false" 
                  android:launchMode="singleTop"/>

        <!-- Activity có theme riêng -->
        <activity
            android:name=".ThongBaoActivity"
            android:theme="@style/Theme.Assignment.NoActionBar"
            android:exported="false"/>

        <!-- preload fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>
    </application>
</manifest>



