<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment">

        <!-- LAUNCHER -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.HomeActivity" />

        <!-- Các activity nội bộ -->
        <activity android:name=".activity.RegisterActivity"            android:exported="false"/>
        <activity android:name=".activity.FoodDetailActivity"            android:exported="false"/>
        <activity android:name=".activity.CartActivity"            android:exported="false"/>
        <activity android:name=".activity.OrderActivity"            android:exported="false"/>
        <activity android:name=".activity.OrderHistoryActivity"            android:exported="false"/>
        <activity android:name=".activity.ProfileActivity"            android:exported="false"/>
        <activity android:name=".activity.ForgotPasswordActivity"            android:exported="false"/>
        <activity android:name=".activity.ReviewActivity"            android:exported="false"/>
        <activity android:name=".activity.VoucherActivity"            android:exported="false"/>
        
        <!-- Attendance Summary Activity with parent specified -->
        <activity 
            android:name=".activity.tom_tat__diem_danh"       
            android:exported="false"
            android:parentActivityName=".activity.DiemDanhActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DiemDanhActivity" />
        </activity>
        
        <activity android:name=".activity.MainActivity"             android:exported="false"/>
        <activity android:name=".activity.DanhBaNhanSuActivity"     android:exported="false"/>
        <activity android:name=".activity.ThongTinNhanVienActivity" android:exported="false"/>
        <activity android:name=".activity.ManagerHomeActivity"      android:exported="false"/>
        <activity android:name=".activity.HrHomeActivity"           android:exported="false"/>
        <activity android:name=".activity.DiemDanhActivity"         android:exported="false" 
                  android:launchMode="singleTop"
                  android:scaleType="centerCrop"/>

        <!-- Activity có theme riêng -->
        <activity
            android:name=".activity.ThongBaoActivity"
            android:theme="@style/Theme.Assignment.NoActionBar"
            android:exported="false"/>
    </application>
</manifest>



